/* CSS declarations go here */
html, body, .full-height {
	height: 100%;
	width: 100%;
}

nav {
	margin-bottom: 0 !important;
}

.navbar-comma-bean {
	background: rgba(255, 255, 255, 0.8);
}

@media(max-width: 768px) {
	.banner {
		margin-top: 50px;
	}
}

.pad-top {
	margin-top: 50px;
}

.banner {
	width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.banner img {
	width: 100%;
}

.section {
	padding: 20px;
	width: 100%;
}

.section.blue {
	background-color: #9accff;
	color: #ffffff;
}

.section p {
	font-family: serif;
	line-height: 1.5;
	font-size: 18px;
}

.glyphicon.blue {
	color: #9accff;
}

hr.small {
	max-width: 50px;
}