<div class="banner">
	<img src="/assets/banner.jpg" />
</div>

<div class="blue section text-center">
	<h2>Hi everyone! My name is Comma Bean.</h2>
	<hr class="small" />
	<p>I am a twelve year old Yorkshire Terrier. I am a very fancy dog, as I have come from as far as France to be with you all. I really hate the idea of Brexit.</p>
	<p>My favourite food is all food, but I really like chicken and chicken bones.</p>
</div>

<div class="section">
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-3 text-center" ng-repeat="thing in $ctrl.things">
			<h1 class="blue glyphicon" ng-class="'glyphicon-' + thing.css"></h1>
			<h3>{{thing.header}}</h3>
			<p>{{thing.body}}</p>
		</div>

	</div>
</div>