<div class="container pad-top">
	<div class="bla-height">
		<img src="/assets/sun-comma.square.jpg" class="img-thumbnail guestbook pull-left hidden-xs"/>
		<h1>Guest Book</h1>
		
		<div ng-if="!$ctrl.currentUser">
			<p>Sign in to leave a comment in the guest book.</p>
		</div>

		<div ng-if="$ctrl.currentUser">
			<p>Use the form below to leave a comment.</p>

			<input class="form-control" type="text" ng-model="$ctrl.newComment" ng-keyup="$event.keyCode == 13 ? $ctrl.addComment($ctrl.newComment) : null"/>
			<button class="btn btn-default" ng-click="$ctrl.addComment($ctrl.newComment)">Add Comment</button>
		</div>

	</div>
	<hr />

	<div class="panel panel-default" ng-repeat="comment in $ctrl.comments">
		<div class="panel-heading">
			<button class="btn btn-danger btn-sm pull-right" ng-if="$ctrl.currentUser._id === comment.owner" ng-click="$ctrl.removeComment(comment)">Delete</button>
			<span class="panel-title">{{comment.username}} - {{comment.createdAt}}</span>
		</div>
		<div class="panel-body">
			{{comment.text}}
		</div>
	</div>
</div>